/********************************************************************************
* WEB322 – Assignment 03
*
* I declare that this assignment is my own work in accordance with Seneca's
* Academic Integrity Policy:
*
* https://www.senecacollege.ca/about/policies/academic-integrity-policy.html
*
* Name: Kai Williams       Student ID: 103714234      Date: 2024-10-18
*
* Published URL: web-322-rkwzlz5u7-kai-williams-projects.vercel.app
*
********************************************************************************/
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection - About</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body tabindex="-1">
  <nav class="navbar">
    <div class="navbar-container">
      <a class="brand" href="/">Lego Collection</a>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/about">About</a></li>
        <li><a href="/lego/sets?theme=Mindstorms">Mindstorms</a></li>
        <li><a href="/lego/sets?theme=Boost">Boost</a></li>
        <li><a href="/lego/sets?theme=Technic">Technic</a></li>
      </ul>
    </div>
  </nav>

  <div class="container mx-auto">
    <div class="hero">
      <h1>About Me</h1>
      <p>Learn more about me! The man behind the Lego Collection website.</p>
    </div>

    <div class="grid">
      <div>
        <img src="/image/mypicture.jpg" alt="Profile Image of the Creator" />
      </div>
      <div class="prose">
        <h2>Hello! I'm Kai</h2>
        <p>I'm a web developer and a lego enthusiast</p>
      </div>
    </div>
  </div>

  <footer>
    <p>&copy; 2024 Lego Collection. All rights reserved.</p>
  </footer>
</body>

</html>
