<!-- /********************************************************************************
* WEB322 – Assignment 05
*
* I declare that this assignment is my own work in accordance with Seneca's
* Academic Integrity Policy:
*
* https://www.senecacollege.ca/about/policies/academic-integrity-policy.html
*
* Name: Kai Williams Student ID: 103714234 Date: 2024-11-21
*
* Published URL: ___________________________________________________________
*
********************************************************************************/ -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Lego Collection</title>
</head>
<body>
    <%- include('partials/navbar', { page: '/lego/sets' }) %>

    <div class="lego-collection">
        <nav>
            <a href="/" class="logo">Lego Collection</a>
            <ul>
              <li><a href="/about">About</a></li>
              <li>
                <a href="#">Theme</a>
                <ul>
                    <a href="/lego/sets?theme=Technic" class="btn btn-sm btn-outline">Technic</a>
                    <a href="/lego/sets?theme=Classic Town" class="btn btn-sm btn-outline">Classic Town</a>
                    <a href="/lego/sets?theme=Books" class="btn btn-sm btn-outline">Books</a>
                </ul>
              </li>
            </ul>
        </nav>

        <div class="container mx-auto">
            <div class="hero">
                <h1>Explore the Lego Collection!</h1>
                <a href="/lego/sets" class="btn">See Sets</a>
            </div>

            <div class="grid grid-cols-3 gap-4">
                <div class="card">
                    <img src="https://cdn.rebrickable.com/media/sets/9780241295175-1.jpg" alt="Set Name 1">
                    <h2>City: Urban Adventures</h2>
                    <p>Discover the bustling life of LEGO City with this fun set.</p>
                    <a href="https://cdn.rebrickable.com/media/sets/9780241295175-1.jpg" class="btn">View Set</a>
                </div>
                <div class="card">
                    <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcTw0REKlGsu2ctWLDC5ALtFxiHdUgqtzsdlbeSU7daLdAoSwlcmAyjRYgHbtMM2rVNCiaYmHzvXhWLJI5KVDkhSPnFPhxzs" alt="Set Name 2">
                    <h2>Technic: Jungle Adventures</h2>
                    <p>Explore the wild jungles with this robust Technic set.</p>
                    <a href="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcTw0REKlGsu2ctWLDC5ALtFxiHdUgqtzsdlbeSU7daLdAoSwlcmAyjRYgHbtMM2rVNCiaYmHzvXhWLJI5KVDkhSPnFPhxzs" class="btn">View Set</a>
                </div>
                <div class="card">
                    <img src="https://dynamic.indigoimages.ca/v1/books/books/0756690161/1.jpg?width=435&maxHeight=435&quality=85" alt="Set Name 3">
                    <h2>Ninjago: Ultimate Factivity Collection</h2>
                    <p>Unleash your creativity with action-packed Ninjago activities.</p>
                    <a href="https://dynamic.indigoimages.ca/v1/books/books/0756690161/1.jpg?width=435&maxHeight=435&quality=85" class="btn">View Set</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
