<!-- /********************************************************************************
* WEB322 – Assignment 03
*
* I declare that this assignment is my own work in accordance with Seneca's
* Academic Integrity Policy:
*
* https://www.senecacollege.ca/about/policies/academic-integrity-policy.html
*
* Name: Kai Williams       Student ID: 103714234      Date: 2024-10-18
*
* Published URL: web-322-rkwzlz5u7-kai-williams-projects.vercel.app
*
********************************************************************************/ -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">

    <title>Lego Collection</title>
</head>
<body>
    <nav>
        <a href="/" class="logo">Lego Collection</a>
        <ul>
          <li><a href="/about">About</a></li>
          <li>
            <a href="#">Theme</a>
            <ul>
              <li><a href="/technic">Technic</a></li>
              <li><a href="/city">City</a></li>
              <li><a href="/creator">Creator</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      
    
    <div class="container mx-auto">
        <div class="hero">
            <h1>Explore the Lego Collection!</h1>
            <a href="/lego/sets" class="btn">See Sets</a>
        </div>
        
        <div class="grid grid-cols-3 gap-4">
            <div class="card">
                <img src="/image/creator.jpg" alt="Set Name 1">
                <h2>City: Urban Adventures</h2>
                <p>A short blurb about set 1.</p>
                <a href="/lego/sets/9780241198025-1" class="btn">View Set</a>
            </div>
            <div class="card">
                <img src="/image/dollhouse.jpg" alt="Set Name 2">
                <h2>Friends: Jungle Adventures</h2>
                <p>A short blurb about set 2.</p>
                <a href="/lego/sets/9780241196854-1" class="btn">View Set</a>
            </div>
            <div class="card">
                <img src="/image/ninjago.jpg" alt="Set Name 3">
                <h2>Ninjago: Ultimate Factivity Collection</h2>
                <p>A short blurb about set 3.</p>
                <a href="/lego/sets/9780241196458-1" class="btn">View Set</a>
            </div>
        </div>
    </div>
</body>
</html>